In [34]:
import pandas as pd
import numpy as np
from clean import complete_clean
from model import lin_model, split, model_results
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import joblib

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("bmw.csv", index_col=0)

In [3]:
df = complete_clean(df)

In [4]:
df

,price,miles,car_ 1,car_ 2,car_ 2 Active Tourer,car_ 2 Gran Tourer,car_ 3,car_ 4,car_ 4 Gran Coupe,car_ 5,...,drive_type_Automatic,drive_type_Manual,drive_type_Semi,drive_type_Semi-automatic,drive_type_Semiauto,drive_type_electric,drive_type_h,drive_type_hybri,drive_type_rex,drive_type_â€¢
0,4000,100000,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,2795,129000,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1500,152000,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,29000,50000,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,24500,35000,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2975,23490,34000,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2976,22490,24000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2977,20990,18000,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2978,20990,26000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2979,20990,58000,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [5]:
X_train, X_test, y_train, y_test = split(df)

In [6]:
model, y_pred = lin_model(X_train, X_test, y_train)

In [7]:
r_score, mse, mae = model_results(y_test, y_pred)

In [8]:
print("R2 Score: {}".format(r_score))
print("MSE     : {}".format(mse))
print("MAE.    : {}".format(mae))

R2 Score: 0.8766330307713268
MSE     : 20280394.302795675
MAE.    : 3236.469703988136

In [35]:
joblib.dump(model, 'bmw_linear_model.sav')

['bmw_linear_model.sav']

In [9]:
X_train.columns

Index(['miles', 'car_ 1 ', 'car_ 2 ', 'car_ 2  Active Tourer',
       'car_ 2  Gran Tourer', 'car_ 3 ', 'car_ 4 ', 'car_ 4  Gran Coupe',
       'car_ 5 ', 'car_ 5  Gran Turismo', 'car_ 6 ', 'car_ 7 ', 'car_ 8 ',
       'car_ M2', 'car_ M3', 'car_ M4', 'car_ M5', 'car_ X1', 'car_ X2',
       'car_ X3', 'car_ X4', 'car_ X5', 'car_ X6', 'car_ Z4', 'car_ i3',
       'year_1986', 'year_1989', 'year_1996', 'year_1999', 'year_2000',
       'year_2001', 'year_2002', 'year_2003', 'year_2004', 'year_2005',
       'year_2006', 'year_2007', 'year_2008', 'year_2009', 'year_2010',
       'year_2011', 'year_2012', 'year_2013', 'year_2014', 'year_2015',
       'year_2016', 'year_2017', 'year_2018', 'year_2019', 'year_2020',
       'year_2021', 'fuel_Diesel', 'fuel_Electric', 'fuel_Hybrid',
       'fuel_Petrol', 'fuel_Petrol/electric', 'fuel_Petrol/plugin',
       'fuel_Plug_in_hybrid', 'drive_type_Automatic', 'drive_type_Manual',
       'drive_type_Semi', 'drive_type_Semi-automatic', 'drive_type_Semiauto',
       'drive_type_electric', 'drive_type_h', 'drive_type_hybri',
       'drive_type_rex', 'drive_type_â€¢'],
      dtype='object')

In [10]:
car_counter = 0
year_counter = 0
fuel_counter = 0
type_counter = 0
for i in X_train.columns:
    if i in "car":
        car_counter += 1
    if i in "year":
        year_counter += 1
    if i in "fuel":
        fuel_counter += 1
    if i in "drive_type":
        type_counter += 1
    print(i)

miles
car_ 1
car_ 2
car_ 2  Active Tourer
car_ 2  Gran Tourer
car_ 3
car_ 4
car_ 4  Gran Coupe
car_ 5
car_ 5  Gran Turismo
car_ 6
car_ 7
car_ 8
car_ M2
car_ M3
car_ M4
car_ M5
car_ X1
car_ X2
car_ X3
car_ X4
car_ X5
car_ X6
car_ Z4
car_ i3
year_1986
year_1989
year_1996
year_1999
year_2000
year_2001
year_2002
year_2003
year_2004
year_2005
year_2006
year_2007
year_2008
year_2009
year_2010
year_2011
year_2012
year_2013
year_2014
year_2015
year_2016
year_2017
year_2018
year_2019
year_2020
year_2021
fuel_Diesel
fuel_Electric
fuel_Hybrid
fuel_Petrol
fuel_Petrol/electric
fuel_Petrol/plugin
fuel_Plug_in_hybrid
drive_type_Automatic
drive_type_Manual
drive_type_Semi
drive_type_Semi-automatic
drive_type_Semiauto
drive_type_electric
drive_type_h
drive_type_hybri
drive_type_rex
drive_type_â€¢

In [11]:
print(car_counter)
print(year_counter)
print(fuel_counter)
print(type_counter)
#model.predict(np.array(dum).reshape(1,-1))

0
0
0
0

In [12]:
miles = [1110]
car_model = [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
year = [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
fuel = [0, 0, 0, 1, 0, 0, 0]
drive_type = [1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [13]:
predict_array = miles + car_model + year + fuel + drive_type
predict_array = np.array(predict_array).reshape(1,-1)

In [14]:
model.predict(predict_array)

array([30335.3219047])

In [28]:
test_fuel = {'fuel_Diesel': 0, 'fuel_Electric': 0, 'fuel_Hybrid': 0,
       'fuel_Petrol': 0, 'fuel_Petrol/electric': 0, 'fuel_Petrol/plugin': 0,
       'fuel_Plug_in_hybrid': 0}

In [17]:
user_input = input("Type fuel:")

Type fuel:fuel_Diesel

In [29]:
fuel_array = []
for i in test_fuel:
    if i == user_input:
        test_fuel[i] = 1

dict_values([1, 0, 0, 0, 0, 0, 0])